.resetButton{
    background-color: blue;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
    border: none;
    border-radius: 0.5rem;
}